<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <meta name="apple-mobile-web-app-capable" content="yes">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../ContentWeb/css/swiper.min.css"/>
		<link rel="stylesheet/less" type="text/css" href="../../ContentWeb/css/public.less"/>
		<link rel="stylesheet/less" type="text/css" href="../../ContentWeb/css/index.less"/>
		<script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../ContentWeb/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../ContentWeb/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../ContentWeb/js/less.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--顶部导航 start-->
		<div class="header">
			<div class="headTop">
				<div class="headTle">
					<p>服務熱綫：（853）2884-8181</p>
				</div>
				<div class="headLogo">
					<p><img src="../../ContentWeb/images/indexLogo.jpg"/></p>
				</div>
				<div class="headSearch">
					<p><input type="search" name="searchs" id="searchs" placeholder="您需要什麽服務？" value="" /><i class="iconfont">&#xe603;</i></p>
				</div>
			</div>
			<div class="headNav">
				<ul>
					<li><a href="../ArticleContent/about.html">關於我們</a></li>
					<li><a href="../ArticleContent/product.html">產品服務</a></li>
					<li><a href="../ArticleContent/seafood.html">參茸海味</a></li>
					<li><a href="../ArticleContent/member.html">成爲會員</a></li>
					<li><a href="../ArticleContent/purchase.html">如何購買</a></li>
					<li><a href="../ArticleContent/news.html">企業動態</a></li>
					<li><a href="../ArticleContent/recruit.html">招聘信息</a></li>
					<li><a href="../ArticleContent/contact.html">聯係我們</a></li>
				</ul>
			</div>
		</div>
		<div class="headH"></div>
		<!--顶部导航 end-->
		
		<!--首页轮播 start-->
		<div class="swiper-container" id="indexbanner">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide"><a href="javascript:"><img src="../../ContentWeb/images/banner.jpg"/></a></div>
		        <div class="swiper-slide"><a href="javascript:"><img src="../../ContentWeb/images/banner.jpg"/></a></div>
		        <div class="swiper-slide"><a href="javascript:"><img src="../../ContentWeb/images/banner.jpg"/></a></div>
		    </div>
		    <!-- 如果需要分页器 -->
		    <div class="swiper-pagination"></div>
		    
		    <!-- 如果需要导航按钮 -->
		    <div class="swiper-button-prev a"></div>
		    <div class="swiper-button-next b"></div>
		    <p class="btnBottom">
		    	<i class="iconfont">&#xe632;</i>
		    </p>
		</div>
		<div id="pagetop" ></div>
		<!--首页轮播 end-->
		
		<!--首頁內容 start-->
		<div class="indexlist">
			<div class="productlist">
				<div class="left">
					<p><img src="../../ContentWeb/images/index1_1.jpg"/></p>
				</div>
				<div class="right">
					<div class="logo">
						<h2>隆泰健康</h2>
						<p><span><img src="../../ContentWeb/images/logo.png"/></span></p>
					</div>
					<div class="title">簡單瘦 EASY FIT</div>
					<div class="centent">EASY FIT 脂肪燃燒瘦身丸，成分全部天然植物提煉，沒有任何人工的添加劑西藥成分，健康減肥，無須節食</div>
					<a href="" class="btn">了解詳情</a>
				</div>
			</div>
			<div class="productlist right">
				<div class="left">
					<p><img src="../../ContentWeb/images/index1_2.jpg"/></p>
				</div>
				<div class="right">
					<div class="logo">
						<h2>誠信為本</h2>
						<p><span><img src="../../ContentWeb/images/logo.png"/></span></p>
					</div>
					<div class="title">Smart-Q DHA軟膠囊</div>
					<div class="centent">Smart-Q DHA軟膠囊  是不含任何色素無過敏源，是最純淨安全的DHA來源</div>
					<a href="" class="btn">了解詳情</a>
				</div>
			</div>
			<div class="productlist">
				<div class="left">
					<p><img src="../../ContentWeb/images/index1_3.jpg"/></p>
				</div>
				<div class="right">
					<div class="logo">
						<h2>品質為魂</h2>
						<p><span><img src="../../ContentWeb/images/logo.png"/></span></p>
					</div>
					<div class="title">千金不換再生基因滴丸</div>
					<div class="centent">EASY FIT 脂肪燃燒瘦身丸，成分全部天然植物提煉，沒有任何人工的添加劑西藥成分，健康減肥，無須節食</div>
					<a href="" class="btn">了解詳情</a>
				</div>
			</div>
		</div>
		<div class="indexhonor">
			<h2>資格認證</h2>
			<div class="swiper-container" id="honorbanner">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/index2_1.jpg"/></p>
			        	<h2>资格闪证文字描述资格</h2>
			        	<div>闪证文字描述资格闪证文字描述</div>
			        </a></div>
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/index2_2.jpg"/></p>
			        	<h2>资格闪证文字描述资格</h2>
			        	<div>闪证文字描述资格闪证文字描述</div>
			        </a></div>
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/index2_1.jpg"/></p>
			        	<h2>资格闪证文字描述资格</h2>
			        	<div>闪证文字描述资格闪证文字描述</div>
			        </a></div>
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/index2_2.jpg"/></p>
			        	<h2>资格闪证文字描述资格</h2>
			        	<div>闪证文字描述资格闪证文字描述</div>
			        </a></div>
			    </div>
			    <!-- 如果需要导航按钮 -->
			    <div class="swiper-button-prev c swiper-button-black"></div>
			    <div class="swiper-button-next d swiper-button-black"></div>
			</div>
		</div>
		<div class="indexcase">
			<div class="swiper-container" id="casebanner">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/indexBanner1.jpg"/></p>
			        	<div><h2>隆泰藥房 威尼斯人</h2></div>
			        </a></div>
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/indexBanner1.jpg"/></p>
			        	<div><h2>隆泰藥房 威尼斯人</h2></div>
			        </a></div>
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/indexBanner1.jpg"/></p>
			        	<div><h2>隆泰藥房 威尼斯人</h2></div>
			        </a></div>
			        <div class="swiper-slide"><a href="javascript:">
			        	<p><img src="../../ContentWeb/images/indexBanner1.jpg"/></p>
			        	<div><h2>隆泰藥房 威尼斯人</h2></div>
			        </a></div>
			    </div>
			    <!-- 如果需要导航按钮 -->
			</div>
			<div class="swiper-button-prev e swiper-button-black"></div>
			<div class="swiper-button-next f swiper-button-black"></div>
		</div>
		<div class="indexnews">
			<h2>新聞動態</h2>
			<ul>
				<li>
					<div class="left"><h2>13</h2><p>2018-11</p></div>
					<div class="right">
						<p>简单瘦 EASY FIT</p>
					</div>
				</li>
				<li>
					<div class="left"><h2>13</h2><p>2018-11</p></div>
					<div class="right">
						<p>日本利糖康含片 EASY FIT</p>
					</div>
				</li>
				<li>
					<div class="left"><h2>13</h2><p>2018-11</p></div>
					<div class="right">
						<p>醒目仔维他命C+D3+锌咀嚼片 EASY FIT</p>
					</div>
				</li>
				<li>
					<div class="left"><h2>13</h2><p>2018-11</p></div>
					<div class="right">
						<p>醒目仔钙镁锌天然维他命护目咀嚼片 EASY FIT</p>
					</div>
				</li>
			</ul>
			<a href="" class="btn">更多</a>
		</div>
		<!--首頁內容 end-->
	</body>
</html>
